spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: seu email
    password: sua senha de verificação do google, OBS autenticação em 2 fatores deve estar habilitada
    protocol: smtp
    properties:
      mail:
        smtp:
          socketFactory:
            port: 465
            class: javax.net.ssl.SSLSocketFactory
            fallback: false
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000
  thymeleaf:
    enabled: true

envio:
  email:
    remetente: seu email
    nomeRemetente: 'Coloque o seu nome'

server:
  port: 8082





